# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function that takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    return text.split(" ")[0][0].lower() == text.split(" ")[1][0].lower()

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [16]:
def makes_twenty(n1,n2):
    return '20' in str(n1) + str(2) or n1 + n2 == 20

In [17]:
# Check
makes_twenty(20,10)

True

In [19]:
# Check
makes_twenty(2,3)

False

In [20]:
makes_twenty(10,10)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [27]:
def old_macdonald(name):
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:]

In [28]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [38]:
def master_yoda(text):
    l = text.split(" ")
    return ' '.join(l[::-1])

In [39]:
# Check
master_yoda('I am home')

'home am I'

In [40]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [42]:
def almost_there(n):
    return abs(100-n) <= 10 or abs(200-n) <= 10

In [43]:
# Check
almost_there(104)

True

In [44]:
# Check
almost_there(150)

False

In [45]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [75]:
def has_33(nums):
    s = "".join(str(x) for x in nums)
    return '33' in s

In [76]:
# Check
has_33([1, 3, 3])

True

In [77]:
# Check
has_33([1, 3, 1, 3])

False

In [78]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [79]:
def paper_doll(text):
    return ''.join(x*3 for x in text)

In [80]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [81]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [94]:
def blackjack(a,b,c):
    s = a + b + c
    if s < 21:
        return s
    if 11 in [a,b,c]:
        s = s - 10
    if s > 21:
        return 'BUST: ' + str(s)
    else:
        return s

In [95]:
# Check
blackjack(5,6,7)

18

In [96]:
# Check
blackjack(9,9,9)

'BUST: 27'

In [97]:
# Check
blackjack(9,9,11)

19

In [98]:
# Check
blackjack(11,11,11)

'BUST: 23'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [100]:
def summer_69(arr):
    s = 0
    exclude = False
    for x in arr:
        if x == 6:
            exclude = True
        if not exclude:
            s += x
        if x == 9:
            exclude = False
    return s

In [101]:
# Check
summer_69([1, 3, 5])

9

In [102]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [103]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [112]:
def spy_game(nums):
    a, b, c = False, False, False
    for i in nums:
        if i == 0:
            a = True
        if i == 0 and a:
            b = True
        if i == 7 and b:
            return True
    return False

In [113]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [114]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [155]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [157]:
def spy_game2(nums):
    
    code = [0,0,7]
    
    for n in nums:
        if n == code[0]:
            code.pop()
        
    return len(code) == 0

In [158]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [159]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [160]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [152]:
import math

def isPrime(n):
    if n % 2 == 0 and n > 2:
        return False
    for i in range(3,int(math.sqrt(n))+1,2):
        if n % i == 0:
            return False
    return True

def count_primes(num):
    s = 0
    for n in range(2,num+1):
        if isPrime(n):
            s += 1
    return s

In [153]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [165]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [166]:
print_big('b')

****
*   *
****
*   *
****

## Great Job!